h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  font-weight: normal;
}

h1.card-title, h2.card-title, h3.card-title, h4.card-title, h5.card-title, h6.card-title {
  text-align: left;
}

a {
  color: #3d96cb;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-size: inherit;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: #225d80;
}

a.social-link {
  color: #292b2c;
}

a.follow-me {
  color: #292b2c;
}

a.follow-me .fa-facebook {
  display: block;
  color: #3e5b99;
  -webkit-transition: all ease-in-out 150ms;
  -o-transition: all ease-in-out 150ms;
  transition: all ease-in-out 150ms;
}

a.follow-me .fa-facebook:hover {
  color: #2f4575;
}

a.follow-me .fa-instagram {
  display: block;
  color: #bc2a8d;
  -webkit-transition: all ease-in-out 150ms;
  -o-transition: all ease-in-out 150ms;
  transition: all ease-in-out 150ms;
}

a.follow-me .fa-instagram:hover {
  color: #92216e;
}

a.follow-me .fa-twitter {
  display: block;
  color: #1da1f2;
  -webkit-transition: all ease-in-out 150ms;
  -o-transition: all ease-in-out 150ms;
  transition: all ease-in-out 150ms;
}

a.follow-me .fa-twitter:hover {
  color: #0c85d0;
}

a.follow-me .fa-google-plus {
  display: block;
  color: #db4437;
  -webkit-transition: all ease-in-out 150ms;
  -o-transition: all ease-in-out 150ms;
  transition: all ease-in-out 150ms;
}

a.follow-me .fa-google-plus:hover {
  color: #bd2e22;
}

a.follow-me .fa-linkedin {
  display: block;
  color: #1d87bd;
  -webkit-transition: all ease-in-out 150ms;
  -o-transition: all ease-in-out 150ms;
  transition: all ease-in-out 150ms;
}

a.follow-me .fa-linkedin:hover {
  color: #166791;
}

.post-tags {
  padding: 1.25rem;
}

.post-tags .fa-tag {
  color: white;
  background-color: #444333;
  padding: 0.5rem;
  margin: 0.25rem;
  line-height: 1.5;
  font-size: 1rem;
  border: 1px solid #444333;
}

.post-tags .tags {
  display: inline-block;
  padding: 0;
}

.post-tags .tags .tag {
  display: inline-block;
}

.post-tags .tags .tag a {
  padding: 0.5rem;
  margin: 0.25rem;
  font-size: 1rem;
  border: 1px solid #444333;
  color: #444333;
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.post-tags .tags .tag a:hover {
  color: white;
  background: #444333;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.75rem 0;
  margin-bottom: 0;
  color: white;
}

.social-icons .share-button {
  width: 25%;
  text-align: center;
  list-style: none;
}

.social-icons .share-button .fa, .social-icons .share-button a {
  color: inherit;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  -webkit-transition: all ease-in-out 150ms;
  -o-transition: all ease-in-out 150ms;
  transition: all ease-in-out 150ms;
}

.social-icons .share-button .fa-facebook {
  background-color: #3e5b99;
}

.social-icons .share-button .fa-facebook:hover {
  background-color: #2f4575;
}

.social-icons .share-button .fa-instagram {
  background-color: #bc2a8d;
}

.social-icons .share-button .fa-instagram:hover {
  background-color: #92216e;
}

.social-icons .share-button .fa-twitter {
  background-color: #1da1f2;
}

.social-icons .share-button .fa-twitter:hover {
  background-color: #0c85d0;
}

.social-icons .share-button .fa-google-plus {
  background-color: #db4437;
}

.social-icons .share-button .fa-google-plus:hover {
  background-color: #bd2e22;
}

.social-icons .share-button .fa-linkedin {
  background-color: #1d87bd;
}

.social-icons .share-button .fa-linkedin:hover {
  background-color: #166791;
}

.social-icons .footer-share .fa, .social-icons .footer-share a {
  padding: 0.5rem 0;
}

.header-icons li {
  min-width: 1.5rem;
  width: 100%;
  text-align: center;
}

.header-icons li .fa, .header-icons li a {
  width: 100%;
  height: 100%;
  line-height: 1.5;
  -webkit-transition: all ease-in-out 150ms;
  -o-transition: all ease-in-out 150ms;
  transition: all ease-in-out 150ms;
}

.header-icons li .fa:hover .fa-facebook, .header-icons li a:hover .fa-facebook {
  color: #3e5b99;
}

.header-icons li .fa:hover .fa-instagram, .header-icons li a:hover .fa-instagram {
  color: #bc2a8d;
}

.header-icons li .fa:hover .fa-twitter, .header-icons li a:hover .fa-twitter {
  color: #1da1f2;
}

.header-icons li .fa:hover .fa-google-plus, .header-icons li a:hover .fa-google-plus {
  color: #db4437;
}

.header-icons li .fa:hover .fa-linkedin, .header-icons li a:hover .fa-linkedin {
  color: #1d87bd;
}

@media (min-width: breakpoint-min(md, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))) {
  .header-icons li {
    min-width: 3rem;
  }
}

/* Generic WP styling */
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.amp-wp-enforced-sizes {
  /** Our sizes fallback is 100vw, and we have a padding on the container the max-width here prevents the element from overflowing. **/
  max-width: 100%;
  margin: 0 auto;
}

.amp-wp-unknown-size img {
  /** Worst case scenario when we can't figure out dimensions for an image. **/
  /** Force the image into a box of fixed dimensions and use object-fit to scale. **/
  -o-object-fit: contain;
  object-fit: contain;
}

/* Template Styles */
body {
  font-family: 'Merriweather', 'Times New Roman', Times, Serif;
  font-weight: 300;
  line-height: 1.75em;
}

p,
ol,
ul,
figure {
  margin: 0 0 1em;
  padding: 0;
}

/* Quotes */
/* UI Fonts */
.amp-wp-meta,
.amp-wp-header div,
.wp-caption-text,
.amp-wp-tax-category,
.amp-wp-tax-tag,
.amp-wp-comments-link,
.amp-wp-footer p,
.back-to-top {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
}

/* Header */
.amp-wp-header div {
  font-size: 1em;
  font-weight: 400;
  margin: 0 auto;
  max-width: calc(840px - 32px);
  padding: .875em 16px;
  position: relative;
}

/* Article */
.amp-wp-article {
  font-weight: 400;
  margin: 1.5em auto;
  max-width: 840px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* Article Header */
.amp-wp-article-header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 1.5em 16px 1.5em;
}

/* Article Meta */
.amp-wp-meta {
  display: inline-block;
  -webkit-box-flex: 2;
  -ms-flex: 2 1 50%;
  flex: 2 1 50%;
  font-size: .875em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

.amp-wp-article-header .amp-wp-meta:last-of-type {
  text-align: right;
}

.amp-wp-article-header .amp-wp-meta:first-of-type {
  text-align: left;
}

.amp-wp-byline amp-img,
.amp-wp-byline .amp-wp-author {
  display: inline-block;
  vertical-align: middle;
}

.amp-wp-byline amp-img {
  border-radius: 50%;
  position: relative;
  margin-right: 6px;
}

.amp-wp-posted-on {
  text-align: right;
}

/* Featured image */
.amp-wp-article-featured-image {
  margin: 0 0 1em;
}

.amp-wp-article-featured-image amp-img {
  margin: 0 auto;
}

.amp-wp-article-featured-image.wp-caption .wp-caption-text {
  margin: 0 18px;
}

/* Article Content */
.amp-wp-article-content {
  margin: 0 16px;
}

.amp-wp-article-content ul,
.amp-wp-article-content ol {
  margin-left: 1em;
}

.amp-wp-article-content amp-img {
  margin: 0 auto;
}

.amp-wp-article-content amp-img.alignright {
  margin: 0 0 1em 16px;
}

.amp-wp-article-content amp-img.alignleft {
  margin: 0 16px 1em 0;
}

/* Captions */
.wp-caption {
  padding: 0;
}

.wp-caption.alignleft {
  margin-right: 16px;
}

.wp-caption.alignright {
  margin-left: 16px;
}

.wp-caption .wp-caption-text {
  font-size: .875em;
  line-height: 1.5em;
  margin: 0;
  padding: .66em 10px .75em;
}

/* AMP Media */
amp-carousel {
  margin: 0 -16px 1.5em;
}

amp-iframe,
amp-youtube,
amp-instagram,
amp-vine {
  margin: 0 -16px 1.5em;
}

.amp-wp-article-content amp-carousel amp-img {
  border: none;
}

amp-carousel > amp-img > img {
  -o-object-fit: contain;
  object-fit: contain;
}

.amp-wp-iframe-placeholder {
  background-size: 48px 48px;
  min-height: 48px;
}

/* Article Footer Meta */
.amp-wp-article-footer .amp-wp-meta {
  display: block;
}

.amp-wp-tax-category,
.amp-wp-tax-tag {
  font-size: .875em;
  line-height: 1.5em;
  margin: 1.5em 16px;
}

.amp-wp-comments-link {
  font-size: .875em;
  line-height: 1.5em;
  text-align: center;
  margin: 2.25em 0 1.5em;
}

.amp-wp-comments-link a {
  border-style: solid;
  border-width: 1px 1px 2px;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin: 0 auto;
  max-width: 200px;
  padding: 11px 16px;
  text-decoration: none;
  width: 50%;
  -webkit-transition: background-color 0.2s ease;
  -webkit-transition-transition: background-color 0.2s ease;
}

/* AMP Footer */
.amp-wp-footer {
  margin: calc(1.5em - 1px) 0 0;
}

.amp-wp-footer div {
  margin: 0 auto;
  max-width: calc(840px - 32px);
  padding: 1.25em 16px 1.25em;
  position: relative;
}

.amp-wp-footer h2 {
  font-size: 1em;
  line-height: 1.375em;
  margin: 0 0 .5em;
}

.amp-wp-footer p {
  font-size: .8em;
  line-height: 1.5em;
  margin: 0 85px 0 0;
}

.amp-wp-footer a {
  text-decoration: none;
}

.back-to-top {
  bottom: 1.275em;
  font-size: .8em;
  font-weight: 600;
  line-height: 2em;
  position: absolute;
  right: 16px;
}
