/**
 * GENERAL CARD LAYOUT
 */
.card {
	background-color: white;
	border: 1px solid #ddd;
	padding: 10px;
	padding: 1rem;
	transition: ease-in-out .1s;
	overflow: hidden;
	margin: 5px;
	margin: .5rem;
}

.card:hover {
	background-color: #f5f5f5;
}


/**
 * SERVICES PAGE
 */

.service {
	padding: 0;
}

.service img {
	width: 60%;
	margin: 0 20%;
}


/**
 * PROJECTS PAGE
 */

.nav-tabs > li {
	float: none;
	display: inline-block;
}

.project-tabs {
	margin-bottom: 2rem;
}

.nav-tabs {
	text-align: center;
	text-transform: uppercase;
	border: 0;
}

.project {
	padding: 0;
}

.ui-tabs-active,
.ui-state-hover,
.nav-tabs li a:hover {
	background-color: white;
	border: 1px solid #eee;
	margin-right: 0;
}


/**
 * ABOUT US PAGE
 */

.expander {
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
}

.extra {
	display: none;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.expertise .expertise-title {
	font-size: 1.7rem;
	text-transform: uppercase;
}

.expertise .row-item-subtitle {
	font-size: 1.3rem;
	padding: .5rem;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
}


/**
 * BLOG POST - SINGLE
 */

/*.blog-post {
	padding: .3rem;
}*/

.blog-post-details {
	text-align: left;
	font-size: 1.4rem;
	color: rgba(0, 0, 0, .6);
	margin: 2rem 0;
	padding-bottom: 1rem;
	border-bottom: 1px solid #eee;
}

.blog-post-tags {
	border: 1px solid #eee;
	margin: 1rem;
	padding: 1rem;
	text-align: left;
}

.blog-post-tag {
	padding: 1rem;
	background-color: white;
	transition: ease-in-out .3s;
}

.blog-post-tag:hover {
	background-color: rgb(61, 114, 164);
	color: white;
}

/* SIDEBAR */
.latest-posts li {
	border-top: 1px solid #eee;
	line-height: 3rem;
	font-size: 1.9rem;
	font-weight: normal !important;
}

.latest-posts li:last-child {
	border-bottom: 1px solid #eee;
}


/**
 * CONTACT PAGE
 */

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}
 
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
 
@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}