/**
 * SINGLE PROJECT PAGE
 */

.project-description {
	margin-top: 3rem;
}

.project-description-left p {
	font-size: 2rem;
}

.project-description-left .share-website h2 {
	font-size: 1.5rem;
}

.project-description-left .share-website img {
	max-width: 40px;
}

.project-description-left .share-website ul {
	display: inline-block;
}

.project-description-left .share-website ul li {
	display: inline;
	list-style: none;
	margin-right: 2rem;
}

.project-description-right h2 {
	font-size: 2.5rem;
}

.project-description-right h2 a {
	text-decoration: none;
}