// Logo
.custom-logo-link
    margin-right: 50%
    transform: translateX(50%)

    .custom-logo
        max-height: 4 * $font-size-base
        width: auto

// Header
header
    .navbar
        .container-fluid
            padding: $spacer / 2 0
            text-transform: uppercase

            .navbar-toggler
                margin: 0 $spacer

            .navbar-nav
                background-color: $white

                .nav-link
                    color: $body-color
                    font-size: $font-size-base

.mds-fixed-top
    background-color: $white

@include media-breakpoint-up(md)
    header
        .navbar
            .container-fluid
                .navbar-nav
                    background-color: transparent

                .social-icons-header
                    flex: 1

                .navbar-nav,
                .custom-logo-link
                    flex: 0

                .custom-logo-link
                    margin-right: 2 * $spacer
                    transform: none


@include media-breakpoint-up(xl)
    header
        .navbar
            .container-fluid
                display: flex

                .navbar-nav
                    flex: 1

                .custom-logo-link,
                .social-icons-header
                    flex: 0

                .custom-logo-link
                    margin-right: 2 * $spacer
                    transform: none
