.post-tags
    padding: $spacer 0

    .fa-tag
        color: white
        background-color: theme-color("primary")
        padding: $spacer / 2
        line-height: $line-height-base
        font-size: $font-size-base
        border: 1px solid theme-color("primary")

    .tags
        display: inline-block
        padding: 0

        .tag
            display: inline-block

        .tag a
            padding: $spacer / 2
            margin: $spacer / 4
            font-size: $font-size-base
            border: 1px solid theme-color("primary")
            color: theme-color("primary")
            transition: all 150ms ease-in-out

            &:hover
                color: white
                background: theme-color("primary")
