h1,
h2,
h3,
h4,
h5,
h6
    font:
        family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif'
        weight: 400


.card-title
    text-align: left


a
    @include transition
    color: $blue
    font-size: inherit

    &:hover,
    &:active,
    &:focus
        color: darken($blue, 20%)
        text-decoration: none

    &.social-link
        color: $body-color

    &.follow-me
        color: $body-color

        @each $link, $color in $contact-links
            .fa-#{$link}
                @include transition
                color: $color
                display: block

                &:hover
                    color: darken($color, 10%)
