h1, h2, h3, h4, h5, h6
	font:
		family: "Roboto", "Helvetica", "Arial", "sans-serif"
		weight: normal

// Card title
.card-title
	text-align: left

// Anchors
a
	color: brand-color("primary")
	text-decoration: none
	transition: all .2s ease-in-out
	font-size: inherit

	&:hover, &:focus, &:active
		text-decoration: none
		color: darken($blue, 20%)

	&.social-link
		color: $body-color

	&.follow-me
		color: $body-color

		@each $current in $social-links
			$i: index($social-links, $current)
			.fa-#{$current}
				display: block
				color: nth($social-colors, $i)
				transition: $social-links-transition

				&:hover
					color: darken(nth($social-colors, $i), 10%)
