.btn
	border-radius: 0
	transition: $social-links-transition
	margin-bottom: $spacer
	cursor: pointer

.btn-primary-outline
	border: $border-width solid $brand-primary
	color: $brand-primary
	background-color: transparent

	&:hover
		background-color: $brand-primary
		color: white
		box-shadow: inset 0px 0px 2px white
