.card-wrapper, .card-deck-wrapper
	margin-bottom: $spacer-y

.card
	box-shadow: $card-shadow
	overflow: hidden

	.no-animation
		animation: none !important

	&.card-flat
		box-shadow: none
		margin-bottom: $spacer-y

	&.card-borderless
		border: 0

	.post-meta
		margin-bottom: $spacer-y
		text-align: left

		.meta-data
			color: lighten($brand-inverse, 60%)
			margin-bottom: $spacer-y

	.wp-post-image
		width: 100%
		height: auto

	.post-tags
		margin-top: $spacer * 2
		border-top: $border-width solid #ddd
		padding: $spacer-x 0

		.fa-tag
			color: white
			background-color: $brand-inverse
			padding: $spacer / 2
			margin: $spacer / 4
			line-height: $line-height-base
			font-size: $font-size-base
			border: 1px solid $brand-inverse

		.tags
			display: inline-block
			padding: 0

			.tag a
				padding: $spacer / 2
				margin: $spacer / 4
				font-size: $font-size-base
				border: 1px solid $brand-inverse
				color: $brand-inverse
				transition: all 150ms ease-in-out

				&:hover
					color: white
					background: $brand-inverse

@include media-breakpoint-up(md)
	.card .post-meta .meta-data
		margin-bottom: 0
