header
	nav
		.container-fluid
			display: flex
			justify-content: space-between
			align-items: center
			text-transform: uppercase

			.navbar-nav .nav-item a
				font-size: $font-size-base

			.header-icons
				flex: 2

			.logo
				max-height: 30px
				height: 100%
				width: auto
				margin-right: 2rem

			.navbar-toggler
				border: 0
				margin: 0

				&:focus
					outline: none
