// Send emaill
@keyframes send-mail
	0%
		opacity: 1
		transform: translateY(0%) scale(1)
	70%
		opacity: 0.5
		transform: translateY(-500%) scale(0.6)
	71%
		opacity: 0
		transform: translateY(0%) scale(0.6)
	100%
		opacity: 1
		transform: translateY(0%) scale(1)

	//0%
	//	opacity: 1
	//10%, 15%
	//	transform: translateY(0) scale(1)
	//40%, 70%
	//	transform: translateY(-600%) scale(1)
	//70%
	//	opacity: 1
	//71%
	//	opacity: 0
	//	transform: translateY(-600%) scale(0.6)
	//72%
	//	opacity: 0
	//	transform: translateY(0%) scale(0.6)
	//100%
	//	opacity: 1
	//	transform: translateY(0%) scale(1)
