.social-icons
	display: flex
	padding: $breadcrumb-padding-y $breadcrumb-padding-x
	text-align: right
	margin-bottom: 0

	li
		flex: 1
		text-align: right

	&.header-icons

		li
			min-width: 3rem

.fa
	transition: all 200ms ease-in-out

	&:hover
		animation: icon-pop 200ms ease-in-out forwards

		&.fa-facebook
			color: $facebook

		&.fa-twitter
			color: $twitter

		&.fa-google-plus
			color: $google-plus

		&.fa-linkedin
			color: $linkedin

	&:hover.fa-3x
		animation: icon-pop-3x 200ms ease-in-out forwards

		&.fa-facebook
			color: grayscale($facebook)

		&.fa-twitter
			color: grayscale($twitter)

		&.fa-google-plus
			color: grayscale($google-plus)

		&.fa-linkedin
			color: grayscale($linkedin)
