.page-portfolio .card-columns
        column-count: 1

        .card
            width: 100%
            margin: .5rem 0
            text-align: justify

            .card-title
                text-align: left

            .card-block img
                margin-bottom: 1rem

            .card-footer
                .social-icons
                    //border: 1px solid red
                    margin: 0
                    height: 38px
                    justify-content: space-between

                    li
                        line-height: 38px
                        padding: 0

@include media-breakpoint-up(md)
    .page-portfolio .card-columns
        column-count: 2

        .card
            width: calc(100% - 1rem)
            margin: .5rem

@include media-breakpoint-up(lg)
    .page-portfolio .card-columns
        column-count: 2

@include media-breakpoint-up(xl)
    .page-portfolio .card-columns
        column-count: 3
