.footer
    background-color: $black
    color: $white
    font-size: $h5-font-size
    margin-top: 4 * $spacer
    padding: 2 * $spacer
    text-align: center

    .social-profiles,
    .brand-footer
        margin-bottom: 2 * $spacer
        opacity: .7

    .footer-logo
        margin: 0

    .copyright-text
        font-size: .9 * $font-size-base
        margin-bottom: 0
        opacity: .5
