.header-overlay
    align-items: center
    background-color: $overlay-color
    display: flex
    flex-direction: column
    justify-content: center
    position: relative

.custom-logo
    height: 100px
    margin-bottom: 2rem
    width: auto
