.navbar
    margin: 0
    padding: 0

// Menu mobile toggler
.navbar-toggler
    border: 0
    height: 40px
    left: 30px
    opacity: .7
    position: absolute
    top: 30px
    transition: opacity 500ms ease-in-out, background-color 300ms ease-in-out
    width: 40px

    .menu-item-1,
    .menu-item-2,
    .menu-item-3
        background: $black
        display: block
        height: 3px
        left: 0
        margin-left: 15%
        opacity: 1
        position: absolute
        top: 50%
        transform: rotate(0deg)
        transition: .25s ease-in-out
        width: 70%

    .menu-item-1
        top: 9px

    .menu-item-2
        top: calc(50% - 1px)

    .menu-item-3
        top: calc(100% - 11px)
        width: 50%

    &:focus
        outline: 0

    &:hover
        opacity: 1

        .menu-item-1
            animation: toggler-animation 600ms ease-in-out

        .menu-item-2
            animation: toggler-animation 600ms 100ms ease-in-out

        .menu-item-3
            animation: toggler-animation-short 600ms 200ms ease-in-out

    &.active
        background-color: $white
        box-shadow: $box-shadow
        opacity: 1
        z-index: 1000

        .menu-item-1,
        .menu-item-2,
        .menu-item-3
            margin: 0 15%
            top: calc(50% - 1px)
            width: 70%

        .menu-item-1
            transform: rotate(45deg)

        .menu-item-2
            display: none

        .menu-item-3
            transform: rotate(-45deg)

        &:hover
            .menu-item-1,
            .menu-item-2,
            .menu-item-3
                animation: none

.icon-menu
    height: 40px
    opacity: .7
    padding: 0
    position: absolute
    transition: opacity 500ms ease-in-out
    width: 40px

    &:hover
        cursor: pointer
        opacity: 1

        .menu-bar-1
            animation: menu-ani 600ms ease-in-out

        .menu-bar-2
            animation: menu-ani 600ms 100ms ease-in-out

        .menu-bar-3
            animation: menu-ani-bottom 600ms 200ms ease-in-out

    &.active

        // .menu-bar-1,
        // .menu-bar-3
        //     display: none

        .menu-bar-2
            // transform: rotate(45deg)
            transform-origin: center

        .menu-bar-3
            display: none

@keyframes menu-ani
    0%
        width: 30px

    20%
        width: 2px

    80%
        width: 34px

    100%
        width: 30px

@keyframes menu-ani-bottom
    0%
        width: 24px

    20%
        width: 2px

    75%
        width: 34px

    100%
        width: 24px


.icon-menu-close
    animation: bounce-out 400ms ease-in-out
    background: #00FFA7
    box-shadow: 0 10px 10px -4px rgba(0, 0, 0, .2)
    cursor: pointer
    height: 24px
    left: 26px
    padding: 4px
    position: fixed
    top: 26px
    transition: transform 150ms ease-in-out
    z-index: 10
    // width: 24px

    &:hover
        transform: scale(1.1)

    &.hidden
        display: none

@media (min-width: 800px)
    .icon-menu-close
        left: 46px
        top: 46px


.navbar-brand
    margin: 0
    padding: 0

// Brand logo
.custom-logo
    height: 100px
    width: auto

// Navigation
.navbar-nav
    display: inline
    margin: 0
    padding: 0
    text-align: center
    text-transform: uppercase

    .nav-item
        display: inline-block
        margin: 0
        padding: 0

        .nav-link
            @include transition
            font:
                family: 'Roboto Light'
                size: 1.125 * $font-size-base
                weight: 200
            margin: 0
            padding: $spacer 1.5 * $spacer

// Header navbar
.navbar-header

    .container-fluid
        display: flex
        justify-content: center
        // left: 50%
        // margin-top: $spacer
        position: relative
        // transform: translateX(-50%)
        top: 0
        width: 100%
        z-index: 100

        .navbar-nav-header
            .active > .nav-link
                color: $black

            .nav-link
                color: $black

                .active,
                .show
                    color: $black

            .show > .nav-link
                color: $black

.navbar-nav-header
    animation: menu-animation 600ms ease-in-out
    background-color: $white
    box-shadow: $box-shadow
    left: 50%
    position: absolute
    top: 50px
    transform: translateX(-50%)
    width: 70%

    &.active
        display: block !important

    .nav-item
        border-bottom: 1px solid $gray-200
        display: block
        width: 100%

        &:last-child
            border-bottom: 0

        &.active
            .nav-link
                background: $gray-200

@include media-breakpoint-up(md)
    .navbar-header
        .container-fluid
            justify-content: space-between

    .navbar-brand
        display: inline

    .navbar-nav-header
        animation: none
        background-color: $white
        box-shadow: none
        display: inline
        left: 0
        position: relative
        top: 0
        transform: translateX(0)
        width: auto

        .nav-item
            border-bottom: 0
            display: inline-block
            width: auto

            &.active
                .nav-link
                    background-color: transparent
                    // border-bottom: 1px solid $black

// Footer navbar
.navbar-footer
    display: flex
    justify-content: center

.navbar-nav-footer
    display: block
    opacity: .7

    .nav-item
        width: 100%

@include media-breakpoint-up(md)
    .navbar-nav-footer
        display: inline

        .nav-item
            width: auto
