.navbar
    margin: 0
    padding: 0

.mobile-menu-overlay
    @include transition
    background-color: $bg-overlay
    height: 100vh
    opacity: 0
    position: fixed
    visibility: hidden
    width: 100vh
    z-index: 2000

    &.active
        opacity: 1
        visibility: visible

.navbar-toggler
    @include transition
    border: 0
    height: 40px
    left: 30px
    padding: 0
    position: absolute
    top: 30px
    width: 40px

    .menu-bar
        fill: $black

    .close-bar
        display: none

    &:hover
        cursor: pointer

        .menu-bar-1
            animation: toggler-animation 600ms ease-in-out

        .menu-bar-2
            animation: toggler-animation 600ms 100ms ease-in-out

        .menu-bar-3
            animation: toggler-animation-short 600ms 200ms ease-in-out

    &.active
        background-color: $blue
        z-index: 10000

        .menu-bar
            display: none

        .close-bar
            display: block
            fill: $white

        &:hover
            transform: scale(1.1)

.navbar-brand
    margin: 0
    padding: 0

// Brand logo
.custom-logo
    height: 100px
    width: auto

// Navigation
.navbar-nav
    display: inline
    margin: 0
    padding: 0
    text-align: center
    text-transform: uppercase

    .nav-item
        display: inline-block
        margin: 0
        padding: 0

        .nav-link
            @include transition
            font:
                family: 'Roboto Light'
                size: 1.125 * $font-size-base
                weight: 200
            margin: 0
            padding: $spacer 1.5 * $spacer

// Header navbar
.navbar-header

    .container-fluid
        display: flex
        justify-content: center
        position: relative
        top: 0
        width: 100%
        z-index: 10000

        .navbar-nav-header
            .active > .nav-link
                color: $black

            .nav-link
                color: $black

                .active,
                .show
                    color: $black

            .show > .nav-link
                color: $black

.navbar-nav-header
    animation: menu-animation 300ms ease-in-out
    background-color: $white
    box-shadow: $box-shadow-lg
    left: 50%
    position: absolute
    top: 50px
    transform: translateX(-50%)
    width: 70%

    &.active
        display: block !important

    .nav-item
        border-bottom: 1px solid $gray-200
        display: block
        width: 100%

        &:last-child
            border-bottom: 0

        &.active
            .nav-link
                background: $gray-200

@include media-breakpoint-up(md)
    .navbar-header
        .container-fluid
            justify-content: space-between

    .navbar-brand
        display: inline

    .navbar-nav-header
        animation: none
        background-color: $white
        box-shadow: none
        display: inline
        left: 0
        position: relative
        top: 0
        transform: translateX(0)
        width: auto

        .nav-item
            border-bottom: 0
            display: inline-block
            width: auto

            &.active
                .nav-link
                    background-color: transparent
                    // border-bottom: 1px solid $black

// Footer navbar
.navbar-footer
    display: flex
    justify-content: center

.navbar-nav-footer
    display: block
    opacity: .7

    .nav-item
        width: 100%

@include media-breakpoint-up(md)
    .navbar-nav-footer
        display: inline

        .nav-item
            width: auto
