.contact-links
    list-style: none

    .contact-link
        align-items: center
        display: flex
        font-size: 2 * $font-size-base
        margin-bottom: 2 * $spacer
        width: 100%

        [class*=' fa-']
            color: $black

        .link
            font-size: 1.125 * $font-size-base
            margin-left: $spacer
