.social-icons
    display: flex
    justify-content: space-around
    list-style: none
    margin: 0
    padding: 0

    .social-icon
        text-align: center
        width: 100%

// Footer social icons
.social-icons-footer
    margin-top: 2 * $spacer

    .social-icon
        &:first-child
            margin-left: 0

        &:last-child
            margin-right: 0

    .social-link
        color: $white

        [class*=' fa-']
            @include transition
            font-weight: 400 !important

        @each $profile, $color in $social-profiles
            &:hover
                .fa-#{$profile}
                    color: $color
                    opacity: 1

// Socail icons share
.social-icons-share
    margin: $spacer 0

    &.fixed-bottom
        margin: 0

    .social-icon
        @include transition
        color: $white

        @each $profile, $color in $social-profiles
            &.social-icon-#{$profile}
                .social-link
                    background-color: $color
                    padding: $spacer / 4

                    &:hover
                        background-color: darken($color, 10%)

        .social-link
            color: inherit
            display: block
