.page-frontpage
	.card
		&.latest-project::before,
		&.latest-blog-post:before
			position: absolute
			color: $body-bg
			padding: $spacer
			background: rgba($body-color, 0.6)
			width: 100%
			z-index: 1000

		&.latest-project::before
			content: "Latest project"

		&.latest-blog-post::before
			content: "Latest blog entry"
