.btn
	border-radius: 0
	transition: all 0.2s ease-in-out

.btn-primary
	border: none
	background-color: $brand-primary
	color: white
	transition: all 200ms cubic-bezier(0.25, 0.39, 0.39, 2.01)
	box-shadow: 0px 15px 10px -10px rgba(0,0,0,0.4)

	&:hover
		background-color: $brand-primary
		transform: scale(1.2)
		box-shadow: 0px 25px 15px -15px rgba(0,0,0,0.3)
