header
	nav
		background-color: transparent
		padding: 0
		margin: 0

		.container-fluid
			width: 100%
			padding: 0
			display: flex
			justify-content: space-between

			// Mobile menu toggle
			.navbar-toggler
				color: $gray
				padding: 1rem
				margin: 0

				&:focus
					outline: none

			// Social icons
			.header-social
				flex: 1
				max-height: 50px
				overflow: hidden
				color: $gray

			// Menu
			.navbar-nav
				display: none
				position: fixed
				max-width: 13rem
				width: 100%
				background-color: white
				left: -13rem
				top: 0
				height: 100vh
				transition: transform 5s ease-in-out
				box-shadow: 3px 0 3px rgba(0, 0, 0, 0.2)
				z-index: 1030

				.nav-item
					display: block
					width: 100%
					margin: 0
					padding: .5rem 2rem
					border-bottom: 1px solid $gray-lightest

					a
						font-size: 1rem


.fixed-top
	background-color: rgba(255, 255, 255, 0.9)
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)

// large screens
@include media-breakpoint-up(lg)
	header
		nav
			.container-fluid
				width: 100%
				margin: 0 auto

				.header-social
					flex: initial

				.navbar-nav
					display: block
					position: relative
					left: 0
					top: 5px
					flex: 1
					max-width: 100%
					width: 100%
					max-height: 50px
					height: 100%
					box-shadow: none
					background-color: transparent

					.nav-item
						float: left
						width: auto
						padding: .4rem 0
						margin-left: 1.5rem
						border-bottom: 0

						&:first-child
							margin-left: 0
