.social-icons
	display: inline-block
	position: relative
	width: 100%
	list-style: none
	overflow: hidden
	padding: 0

	li
		float: left
		width: calc(100%/5)
		text-align: center
		padding: 1rem
		color: inherit

		a
			color: inherit
			transition: all 0.2s ease-in-out



.facebook:hover
	color: rgba(62, 91, 153, 1)

.twitter:hover
	color: rgba(29, 161, 242, 1)

.google-plus:hover
	color: rgba(219, 68, 55, 1)

.linkedin:hover
	color: rgba(29, 135, 189, 1)

// small to medium screens
@include media-breakpoint-up(md)
	.social-icons
		width: auto

		li
			min-width: 3rem
